h1 {
    color: brown;
}

#bajoTitulo {
    color: #46484c
}

.promocional {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

html {
    background-color: #fffbf7;
}